@use './../../variables' as v;

.infobar {
	display: flex;
	align-items: stretch;
	.infobar-child {
		background-color: v.$spec-light-blue;
		width: calc(100% - 2 * v.$site-margin);
		min-height: 50px;
		margin: v.$site-margin;

		@media screen and (max-width: v.$lg) {
			min-height: 130px;
		}
	}
}
