@use './../../variables' as v;

.sidebar {
	.sidebar-box {
		background-color: v.$spec-light-blue;
		width: calc(100% - 2 * v.$site-margin);
		height: clamp(30px, 4vw, 50px);
		margin: v.$site-margin;
	}
}
