// Based on approx sizing from figma
$site-margin: 10px;

// Colors from Figma
$spec-purple: rgb(142, 45, 197);
$spec-blue: rgb(0, 142, 197);
$spec-light-blue: rgb(45, 172, 225);

// Bootstrap Sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
