@use './variables' as v;

header {
	text-align: center;
	color: white;
	background-color: v.$spec-purple;
	margin: v.$item-margin;

	h1 {
		font-size: clamp(1.5em, 5vw, 2.5em);
		font-weight: normal;
		margin: 0;
		padding: clamp(20px, 3.5vw, 30px) 0;
	}
}

footer {
	text-align: center;
	color: white;
	background-color: v.$spec-blue;
	margin: v.$item-margin;

	position: absolute;
	bottom: 0;
	width: calc(100% - 2 * #{v.$item-margin});
	// height: 6rem;

	// display: flex;
	// justify-content: center;
	// align-items: center;
}

.main-content {
	margin: 0 v.$spec-purple;
}
