body {
	margin: 0;
	font-size: 1.5em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* h1,
h2,
h3,
h4 {
	font-family: 'Neue Plak Extended', Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 0.04rem;
	line-height: 1.2;
} */
